# Extract Data From sqlite-Database

After conducting the web crawl, all logged browser events are stored into an sqlite database. For the further steps of the analysis, we had to extract the required information from the database.

## HTTP Request Data

In [0]:
#read data from sqlite database into pandas dataframe
import sqlite3
import pandas as pd

# Create connection
conn = sqlite3.connect('C:/Users/timpe_000/Desktop/crawl-data.sqlite')

requests_df = pd.read_sql_query("SELECT visit_id, url, top_level_url FROM http_requests", conn)

In [0]:
#save as csv
requests_df.to_csv("http_requests.csv", index=False)

## JavaScript Calls Data

In [0]:
#read data from sqlite database into pandas dataframe
import sqlite3
import pandas as pd

# Create connection
conn = sqlite3.connect('C:/Users/timpe_000/Desktop/crawl-data.sqlite')

js_df = pd.read_sql_query("SELECT script_url, symbol, operation, value, top_level_url, func_name from javascript", conn)

In [0]:
js_df.columns = ['script_urls', 'symbol', 'operation', 'value', 'top_level_url', 'func_name']

js_df.script_urls[:10]

In [0]:
#save as csv
js_df.to_csv("javascript.csv", index=False)

## Select Data for Presentation Purposes

In [0]:
#mount google drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

#load data
http_requests_df = pd.read_csv("/content/drive/My Drive/IT_Security/Code and Data/http_requests.csv")

http_requests_df

        visit_id  ...                                top_level_url
0              2  ...                              http://bahn.de/
1              4  ...                      http://deref-web-02.de/
2              1  ...                 http://immobilienscout24.de/
3              3  ...                               http://dhl.de/
4              5  ...                           http://linguee.de/
...          ...  ...                                          ...
855799     10003  ...  https://www.belegungskalender-kostenlos.de/
855800     10003  ...  https://www.belegungskalender-kostenlos.de/
855801     10003  ...  https://www.belegungskalender-kostenlos.de/
855802     10003  ...  https://www.belegungskalender-kostenlos.de/
855803     10003  ...  https://www.belegungskalender-kostenlos.de/

[855804 rows x 3 columns]

In [0]:
http_requests_df['url_len'] = http_requests_df.url.apply(lambda x: len(x))
http_requests_df['top_level_url_len'] = http_requests_df.top_level_url.apply(lambda x: len(x))

selected_http_requests_df = http_requests_df.loc[(http_requests_df['url_len'] <= 25) & (http_requests_df.url != http_requests_df.top_level_url) & (http_requests_df.top_level_url_len < 25)]
selected_http_requests_df = selected_http_requests_df[['visit_id', 'url', 'top_level_url']].iloc[[0,1,2,3,10,12,13,14,15,20]]
selected_http_requests_df.to_csv("selected_http_requests_df.csv", index=False)
selected_http_requests_df

       visit_id                        url             top_level_url
1208         12     https://dnacdn.net/dna  https://www.immowelt.de/
2590         22  https://hb.adscale.de/dsh     https://www.markt.de/
2702         21     https://dnacdn.net/dna     https://www.tvnow.de/
2834         24    https://www.berlin.de/#    https://www.berlin.de/
3225         28        https://api.t3n.de/           https://t3n.de/
4693         42  https://hb.adscale.de/dsh     https://winfuture.de/
4867         42     https://dnacdn.net/dna     https://winfuture.de/
6020         47     https://dnacdn.net/dna   https://www.tvtoday.de/
6541         51     https://dnacdn.net/dna     https://www.bento.de/
10043        88  https://hb.adscale.de/dsh   https://www.hamburg.de/

In [0]:
import pandas as pd

#load javascript data
javascript_df = pd.read_csv("/content/drive/My Drive/IT_Security/Code and Data/javascript.csv")

javascript_df

                                                script_url  ... visit_id
0                   https://www.bahn.de/p/view/index.shtml  ...        2
1        https://www.bahn.de/common/view/static/8c00ed2...  ...        2
2        https://www.bahn.de/common/view/static/8c00ed2...  ...        2
3        https://www.bahn.de/common/view/static/8c00ed2...  ...        2
4        https://www.bahn.de/common/view/static/8c00ed2...  ...        2
...                                                    ...  ...      ...
2066686  https://www.belegungskalender-kostenlos.de/add...  ...    10003
2066687  https://www.belegungskalender-kostenlos.de/add...  ...    10003
2066688  https://www.belegungskalender-kostenlos.de/add...  ...    10003
2066689  https://www.belegungskalender-kostenlos.de/add...  ...    10003
2066690  https://www.belegungskalender-kostenlos.de/add...  ...    10003

[2066691 rows x 8 columns]

In [0]:
javascript_df['script_url'] = javascript_df.script_url.apply(lambda x: str(x))
javascript_df['script_url_len'] = javascript_df.script_url.apply(lambda x: len(x))
javascript_df['top_level_url_len'] = javascript_df.top_level_url.apply(lambda x: len(x))

javascript_df

selected_javascript_df1 = javascript_df.loc[(javascript_df['script_url_len'] <= 30) & (javascript_df.top_level_url_len < 20) & (javascript_df.value.isnull() == False)]
selected_javascript_df1 = selected_javascript_df1[['visit_id', 'script_url', 'symbol', 'operation', 'value', 'arguments', 'top_level_url']]

selected_javascript_df2 = javascript_df.loc[(javascript_df['script_url_len'] <= 30) & (javascript_df.top_level_url_len < 20) & (javascript_df.arguments.isnull() == False)]
selected_javascript_df2 = selected_javascript_df2[['visit_id', 'script_url', 'symbol', 'operation', 'value', 'arguments', 'top_level_url']]

selected_javascript_df1 = selected_javascript_df1.iloc[[22, 40, 50, 60, 111], :]
selected_javascript_df2 = selected_javascript_df2.iloc[[999, 5, 13, 199, 202], :]

selected_javascript_df = pd.concat([selected_javascript_df1, selected_javascript_df2])
selected_javascript_df.to_csv("selected_javascript_df.csv", index=False)
selected_javascript_df

         visit_id  ...        top_level_url
59320         120  ...   http://parwise.de/
65135         130  ...   http://www.bpb.de/
65145         130  ...   http://www.bpb.de/
73410         162  ...  https://www.ran.de/
82657         179  ...  https://www.tfp.is/
1779316      8191  ...    http://kaplun.de/
82654         179  ...  https://www.tfp.is/
139312        345  ...   https://meedia.de/
286262        775  ...   https://disney.de/
286265        775  ...   https://disney.de/

[10 rows x 7 columns]